.hotkey-input {
    min-height: 38px;
    padding: 7px 16px;
    border-radius: 6px;
    background-color: var(--color-background-glass);
    color: var(--color-foreground);
    border: 0.7px solid var(--color-foreground-muted);
    box-shadow: inset 0px 2px 12px rgba(255, 255, 255, 0.07);

    font-size: 12.8px;
    font-weight: 300;

    display: flex;
    align-items: center;
    gap: 10px;

    transition:
        border-color 0.15s ease,
        transform 0.1s ease;
}

.hotkey-input:hover {
    opacity: 0.8;
}

.hotkey-input:active {
    transform: scale(1.05);
}

.hotkey-input.hotkey-input-active,
.hotkey-input:focus-visible {
    border-color: var(--color-foreground);
}

.hotkey-value {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 6px;
    flex-wrap: wrap;
}

.hotkey-input-placeholder {
    display: flex;
    color: var(--color-foreground-secondary);
    align-items: center;
    gap: 10px;
}

.hotkey-key {
    padding: 0px 7px;
    border-radius: 4px;
    background-color: color-mix(in srgb, var(--color-foreground) 10%, transparent);
    border: 0.4px solid var(--color-foreground-muted);
    font-size: 12.8px;
}
