@import url('@/shared/styles/main.css');

.status-popup {
    background-color: var(--color-background-glass);
    backdrop-filter: blur(7px);
    border: 1px solid var(--color-foreground-muted);

    z-index: 9999;

    position: fixed;
    top: 30px;
    right: 30px;
    min-width: 300px;
    padding: 10px 30px;
    border-radius: 14px;
}

.hovered-element-highlight {
    position: fixed;
    background-color: color-mix(in srgb, var(--color-foreground) 30%, transparent);
    border-radius: 14px;

    box-shadow: 0px 0px 22px 0px
        color-mix(in srgb, var(--color-foreground) 20%, transparent);

    border: 1px solid var(--color-foreground-muted);

    z-index: 9999;
    pointer-events: none;

    transition: all 0.2s ease;
}
