.shortcut-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.shortcut-list-item {
    display: grid;
    grid-template-columns: 6fr 5fr;
    column-gap: 8px;
    justify-content: space-between;
    align-items: center;
}

.shortcut-item-title-container {
    display: grid;
    column-gap: 5px;
    align-items: center;
    grid-template-columns: 1fr 20px;
    padding-right: 10px;
}

.shortcut-item-title {
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    line-height: 16px;
    overflow: hidden;
    margin-bottom: 4px;
}

.shortcut-list-divider-lines {
    display: grid;
    grid-template-columns: 6fr 5fr;
    column-gap: 6px;
    margin-bottom: 16px;
}

.shortcut-list-divider {
    background-color: color-mix(in srgb, var(--color-foreground) 20%, transparent);
    height: 1px;
}

.shortcut-site {
    font-size: 11px;
    color: color-mix(in srgb, var(--color-foreground) 40%, transparent);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
    word-break: break-all;
}

.shortcut-hotkey {
    display: flex;
    gap: 4px;
    align-items: center;
    flex-wrap: wrap;
}

.shortcut-list-slide-move,
.shortcut-list-slide-enter-active,
.shortcut-list-slide-leave-active {
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
}

.shortcut-list-slide-leave-active {
    position: absolute;
}

.shortcut-list-slide-enter-from,
.shortcut-list-slide-leave-to {
    opacity: 0;
    transform: translateX(20px) scale(0.5);
}
