.app-button {
    cursor: pointer;
    padding: 9px 22px;
    border-radius: 10px;
    font-size: 12.8px;
    font-family: 'Courier New', Courier, monospace;

    transition: all 0.3s ease;
}

.app-button.app-button-default {
    color: var(--color-background);
    background-color: var(--color-foreground);
    border: 0.8px solid var(--color-foreground-muted);
}

.app-button.app-button-default:hover:not(:disabled) {
    opacity: 0.9;
    box-shadow: 0px 0px 16px 0px
        color-mix(in srgb, var(--color-foreground) 20%, transparent);
}

.app-button.app-button-secondary {
    color: var(--color-foreground);
    background-color: var(--color-background);
    border: 0.8px solid var(--color-foreground-muted);
}

.app-button.app-button-secondary:hover:not(:disabled) {
    background-color: var(--color-background-glass);
}

.app-button:disabled {
    opacity: 0.5;
}

.app-button:disabled:hover {
    opacity: 0.5;
    box-shadow: none;
    cursor: not-allowed;
}
