.app-button {
    cursor: pointer;
    border: 0.8px solid var(--color-foreground-muted);
    background-color: var(--color-foreground);
    padding: 9px 22px;
    color: var(--color-background);
    border-radius: 10px;
    font-size: 0.8rem;
    font-family: 'Courier New', Courier, monospace;
}
